{% import 'macro_libros.html' as macros %}
{% extends 'base_user.html' %}

{% block title %}Bienvenido{% endblock %}

{% block page_content %}

<h1>Bienvenido usuario cliente ! {{ usuario }}</h1>
    <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 position-relative top-0 start-50 translate-middle-x p-2 mt-2">
        <div class="row row-cols-5" id="muestra_libros">

        </div>
    </div>
    <div class="row">
            <div class="col col-10">
                         <button type="button" class="btn btn-success btn-lg col-6 mt-3" onclick="location.href='/logout'")>Cerrar Sesión</button>
            </div>
        </div>


    <script>
        $(document).ready(function() {
            $.ajax({
                url: '/libros',
                method: 'GET',
                success: function(data) {
                    var container = $('#muestra_libros');
                    container.html(''); // Limpiar el contenido inicial
                    console.log(data)
                    data['libros'].forEach(function(libro) {
                        var libroHTML = `
                            <div class="col">
                                <div class="card">
                                    <img src="${libro[7]}" class="card-img-top" alt="${libro[1]}">
                                    <div class="card-body">
                                        <h5 class="card-title">${libro[1]}</h5>
                                        <p class="card-text">${libro[2]}</p>
                                        <p class="card-text"><small class="text-muted">${libro[3]}</small></p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                       <li class="list-group-item">$${libro[6]}</li>
                                    </ul>
                                </div>
                            </div>
                        `;
                        container.append(libroHTML);
                    });
                },
                error: function(error) {
                    console.error('Ocurrió un error al obtener los datos:', error);
                }
            });
        });
    </script>
{% endblock %}
