{% macro mostrar_libros(libros) %}
    {% for libro in libros %}
    <div class="col-md-4 mb-4">
        <div class="card flex-wrap d-flex h-100">
           <img src="{{ libro.imagen }}" class="card-img-top" alt="{{ libro.titulo }}">
            <div class="card-body">
                <h5 class="card-title text-truncate" style="max-width: 100px;">{{ libro.titulo }}</h5>
                <p class="card-text">{{ libro.descripcion }}</p>
                <p class="card-text"><small class="text-muted">{{libro.ultima_actualizacion }}</small></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{libro.precio}}
                <span class="d-block p-2 text-bg-primary">Nuevo</span>
                </li>
            </ul>
        </div>
    </div>
    {% endfor %}
{% endmacro %}